<h1>Products</h1>


<% @products.each do |x| %>
	<p><%= x.name %> | <%= x.description %> | <%= x.formatted_price %></p>
		<%= link_to "Delete", x, method: :delete, data: {confirm: "Are you sure you want to delete this picture?"}  %>
	<br />

<% end %>

<%= link_to 'Add New Product', new_product_path %>